{% extends "base.html" %}
{% load staticfiles}

{% block header %}
<div class="header_top">
        <div class="container">
            <div class="header_top-box">
                <div class="cssmenu">
                    <ul>
                        {% if user.is_authenticated %}
                        <li><a>Logged in as : {{ user.username }} </a></li>
                        <li><a href="{% url 'info_view' %}">Profile</a></li>
                        <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
                        <li><a href="{% url 'auth_logout' %}">Log out</a></li>
                        {% else %}
                        <li class="active"><a href="{% url 'auth_login' %}">Log in</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="header_bottom">
        <div class="container">
            <div class="header_bottom-box">
                <div class="header_bottom_left">
                    <div class="logo">
                        <a href="{% url 'index' %}"><img src="/static/images/logo.png" alt=""/></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                {% if not user.is_shop %}
                <div class="header_bottom_right">
                    <!-- <div class="search">
                        <input type="text" value="Your email address" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Your email address';}">
                    <input type="submit" value="">
                    </div> -->
                    <ul class="bag">
                        <a href="/user_order"><i class="bag_left"> </i></a>
                        <a href="/cart"><li class="bag_right"><p>Cart</p></li></a>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                {% endif %}
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="search1">
	<form method="POST" class="form1">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" name = "submit">搜索</button>
	</form>
</div>

<h2>商品列表</h2>
<hr />
<ul>
	{% for shop in index_shop_List %}
		{% for goods in shop.goods_set.all %}
			<section>
			<img src="{{goods.image.url}}" width="100px" height="100px">
			<li> 名称 {{goods.name}} </li>
			<li> 店名 {{goods.shop.name}}</li>
			<li> 类别 {{goods.category}} </li>
			<li> 描述 {{goods.description}} </li>
			<li> 价格 {{goods.price}}</li>
			<a href="/goods/{{goods.id}}/">详情</a>
			</section>
			<hr />
		{% endfor %}
	{% endfor %}
</ul>

<h2>商店列表</h2>
<hr />
<ul>
	{% for shop in index_shop_List %}
	<section>
		<li> <a href="/{{shop.id}}/"> {{shop.name}} </a> </li>
		<ul>
			<li> 店名 {{shop.name}} </li>
			<li> 类别 {{ shop.category }} </li>
			<li> 描述 {{shop.description}} </li>
		</ul>
	</section>
		<hr />
	{% endfor %}
</ul>

{% endblock %}