{% extends "base.html" %}
{% block content %}
<h2>商店列表</h2>

{% if not user.is_shop %}
<div>
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" name = "submit">搜索</button>
	</form>
</div>
{% endif %}

<ul>
	{% for shop in index_shop_List %}
		<li> <a href="/{{shop.id}}/"> {{shop.name}} </a> </li>
		<ul>
			<li> 店名 {{shop.name}} </li>
			<li> 类别 {{ shop.category }} </li>
			<li> 描述 {{shop.description}} </li>
		</ul>
	{% endfor %}
</ul>
{% endblock %}

{% block footer %}
	<a href="/user_order">查看订单</a>
	<br>
	<a href="/cart">购物车</a>
{% endblock %}