{% extends "base.html" %}
{% block content %}
<h2>商店管理界面</h2>
<h2>No. {{shop.id}} </h2>

<h3>店名 {{shop.name}} </h3>
<h3>类别 {{shop.category}} </h3>
<h3>联系方式 {{shop.tele}}
<h3>描述 {{shop.description}} </h3>

<ul>
	{% for goods in shop.goods_set.all %}
	<section>
		<li>
		<img src="{{goods.image.url}}" width="100px" height="100px">
		<a href="/shop/goods/{{goods.id}}/">
			{{goods.name}}
		</a></li>
	</section>
	<hr />
	{% endfor %}
</ul>
{% endblock %}

{%block footer%}
	<a href="/shop/add_goods/">添加商品</a>
	<a href="/shop_order/">订单管理</a>
{% endblock %}