{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
    <meta charset="utf-8">
    <title>{% block title %}User test{% endblock %}</title>
</head>

<body>
    <div id="header">
    {% block header %}
    <a href="{% url 'index' %}">{% trans "主页" %}</a> | 

    {% if user.is_authenticated %}
        {% trans "已登录" %}: {{ user.username }} 
        <a href="{% url 'auth_logout' %}">{% trans "登出" %}</a> | 
        <a href="{% url 'auth_password_change' %}">{% trans "修改密码" %}</a> |
        <a href="{% url 'info_view' %}">{% trans "修改个人信息" %}</a>
    {% else %}
       <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
    {% endif %}
    <hr />
    {% endblock %}
    </div>

    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <div id="footer">
    {% block footer %}
        <hr />
    {% endblock %}
    </div>
</body>

</html>
